﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PDF</title>
	<style type="text/css">

	.col-12 { width:100% }
	.col-11 { width:91.66667% }
	.col-10 { width:83.33333% }
	.col-9 { width:75% }
	.col-8 { width:66.66667% }
	.col-7 { width:58.33333% }
	.col-6 { width:50% }
	.col-5 { width:41.66667% }
	.col-4 { width:33.33333% }
	.col-3 { width:25% }
	.col-2 { width:16.66667% }
	.col-1 { width:8.33333% }
	.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1 { float:left;padding:0 5px; }
	
	div.row::before, div.row::after { content:"";font:0/0 a;display:table }
	div.row::after { clear:both }
	div.row { position:relative;display:block; }

	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		font-family: Arial, Helvetica, Tahoma;
		font-size: 8px;
	}
	table, p {
		word-break: break-all;
		width:100%;
	}
	table {		
		margin-top:5px;
		margin-bottom: 5px;
	}
	th, td {
		padding:2px;
	}
	h1 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 500;
		line-height: 1.1;
		font-size: 14pt;

	}
	strong {
		color: #FF0000;
	}
	.emisor, .cliente, .comprobante, .conceptos, .complemento-pagos, .lista-pagos {
		border: 2px solid #DDDDDD;
		-webkit-border-radius: 6px;
	}
	.conceptos thead tr, .lista-pagos thead tr {
		background: #DDDDDD;
	}
	.emisor tr td:first-child, .cliente tr td:first-child, .comprobante tr td:first-child {
		background: #DDDDDD;
	}
	#page {
		padding: 20px;
	}
	#empresa-logo {
		width:240px;
		padding:10px;
		text-align: center;
		vertical-align: center;
	}
	#empresa-logo img {
		width:auto;
		height:auto;
		max-width:240px;
		max-height:240px;
	}
	#empresa-datos {
		border-left:1px solid #eee;
		padding-left:20px;
	}
	#timbre-qr {
		float:left;
		margin-right:20px;
	}
</style>
</head>
<body>
	<div id="page">
		<table id="empresa">
			<tr>
				<td id="empresa-logo">
					{{COMPROBANTE_LOGO}}
				</td>
				<td id="empresa-datos">
					<h1>{{EMISOR_RAZONSOCIAL}}</h1>
					<p>
						<span>R.F.C. {{EMISOR_RFC}}</span>
					</p>
					<p>
						<span>Régimen: {{EMISOR_REGIMEN}}</span>
					</p>
				</td>
			</tr>
		</table>
		
		<div class="row">
			<div class="col-6">
				<strong>Emisor</strong>
				<table class="emisor">
					<tr><td style="width: 30%;">RFC</td><td>{{EMISOR_RFC}}</td></tr>
					<tr><td style="width: 30%;">Razón Social</td><td>{{EMISOR_RAZONSOCIAL}}</td></tr>
					<tr><td style="width: 30%;">Régimen</td><td>{{EMISOR_REGIMEN}}</td></tr>
				</table>
				<strong>Receptor</strong>
				<table class="cliente">
					<tr><td style="width: 30%;">RFC</td><td>{{RECEPTOR_RFC}}</td></tr>
					<tr><td style="width: 30%;">Razón Social</td><td>{{RECEPTOR_RAZONSOCIAL}}</td></tr>
					<tr><td style="width: 30%;">Uso de CFDI</td><td>{{RECEPTOR_USO_CFDI}}</td></tr>
					<tr id="confirmacion"><td style="width: 30%;">Confirmación</td><td>{{COMPROBANTE_CONFIRMACION}}</td></tr>
					<tr id="tiporelacion"><td style="width: 30%;">Tipo de Relación</td><td>{{CFDIRELACIONADOS_TIPORELACION}}</td></tr>
					<tr id="cfdirelacionado"><td style="width: 30%;">CFDI Relacionado</td><td>{{CFDIRELACIONADOS_UIDSLIST}}</td></tr>
				</table>
			</div>
			<div class="col-6">
				<strong>Comprobante</strong>
				<table class="comprobante">
					<tr><td style="width: 45%;">Folio fiscal</td><td>{{TIMBRE_UUID}}</td></tr>
					<tr><td style="width: 45%;">Efecto de comprobante</td><td>{{COMPROBANTE_TIPODECOMPROBANTE}}</td></tr>
					<tr><td style="width: 45%;">Folio y serie</td><td><strong>{{COMPROBANTE_SERIE}} - {{COMPROBANTE_FOLIO}}</strong></td></tr>
					<tr><td style="width: 45%;">Fecha de expedición</td><td>{{COMPROBANTE_FECHA}}</td></tr>
					<tr><td style="width: 45%;">Lugar de expedición</td><td>{{COMPROBANTE_LUGAREXPEDICION}}</td></tr>
					<tr><td style="width: 45%;">No. serie CSD</td><td>{{COMPROBANTE_NUMERODECERTIFICADO}}</td></tr>
					<tr><td style="width: 45%;">Moneda</td><td>{{COMPROBANTE_MONEDA}}</td></tr>
					<tr id="tipocambio"><td style="width: 45%;">Tipo de Cambio</td><td>{{COMPROBANTE_TIPODECAMBIO}}</td></tr>
					<tr id="formapago"><td style="width: 45%;">Forma de pago</td><td>{{COMPROBANTE_FORMADEPAGO}}</td></tr>
					<tr id="metodopago"><td style="width: 45%;">Método de pago</td><td>{{COMPROBANTE_METODOPAGO}}</td></tr>
					<tr id="condiciones"><td style="width: 45%;">Condiciones</td><td>{{COMPROBANTE_CONDICIONES}}</td></tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<strong>Conceptos</strong>
				<table class="conceptos">
					<thead>
						<tr>
							<th style="width: 50px;">Cantidad</th>
							<th style="width: 50px;">Unidad</th> 
							<th style="width: 60px;">Clave <br/> Unidad</th>
							<th style="width: 60px;">Clave Prod.</th>
							<th>Descripción</th>
							<th style="width: 60px;">Valor <br/> Unitario</th>
							<th style="width: 60px;">Descuento</th>
							<th style="width: 60px;">Importe</th>
						</tr>
					</thead>
					<tbody>
						<tr id="conceptos">
							<td style="text-align:center;">{{CONCEPTO_CANTIDAD}}</td>
							<td style="text-align:center;">{{CONCEPTO_UNIDAD}}</td>
							<td style="text-align:center;">{{CONCEPTO_CLVUNIDAD}}</td>
							<td style="text-align:center;">{{CONCEPTO_CLVPRODSRV}}</td>
							<td>{{CONCEPTO_DESCRIPCION}}</td>
							<td style="text-align:right;">{{CONCEPTO_VALORUNITARIO}}</td>
							<td style="text-align:right;">{{CONCEPTO_DESCUENTO}}</td>
							<td style="text-align:right;">{{CONCEPTO_IMPORTE}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td style="font-weight: bold; text-align: center; background: #DDDDDD;" colspan="6">Total con letra</td>
							<td style="text-align:right; font-weight: bold; ">Subtotal</td>
							<td style="text-align:right; ">{{COMPROBANTE_SUBTOTAL}}</td>
						</tr>
						<tr>
							<td style="text-align: center;" colspan="6" rowspan="5"><p >&nbsp; <span style="text-transform: uppercase;">( {{COMPROBANTE_CANTIDADCONLETRA}} )</span></p></td>
							<td style="text-align:right; font-weight: bold; " >IVA</td>
							<td style="text-align:right; ">{{COMPROBANTE_IVATRASLADO}}</td>
						</tr>
						<tr style="text-align:right;">
							<td style="font-weight: bold;">IEPS</td>
							<td style="">{{COMPROBANTE_IEPSTRASLADO}}</td>
						</tr>
						<tr style="text-align:right;">
							<td style="font-weight: bold;">RET. IVA</td>
							<td style="">{{COMPROBANTE_IVARETENCION}}</td>
						</tr>
						<tr style="text-align:right;">
							<td style="font-weight: bold;">RET. ISR</td>
							<td style="">{{COMPROBANTE_ISRRETENCION}}</td>
						</tr>
						<tr style="text-align:right;">
							<td style="font-weight: bold;">RET. IEPS</td>
							<td style="">{{COMPROBANTE_IEPSRETENCION}}</td>
						</tr>
						<tr style="text-align:right;">
							<td colspan="6">&nbsp;</td>
							<td style="font-weight: bold;">Total</td>
							<td style="font-weight: bold;">{{COMPROBANTE_TOTAL}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>	

		<div class="row">
			<div class="col-12">
				<div id="bloque-pagos10">
					<strong>Complemento de pagos</strong>
					<table class="complemento-pagos">  
						<tbody>
							<tr >
								<td>Fecha de pago: {{PAGOS10_FECHA}}</td>
								<td rowspan="6">RFC Emisor Cta. Ordenante: <br/>{{PAGOS10_EMISORCTAORDENANTE}} <br/><br/> Cta. Ordenante: {{PAGOS10_CTAORDENANTE}}</td>
								<td rowspan="6">RFC Emisor Cta. Beneficiario: <br/> {{PAGOS10_EMISORBENEFICIARIO}} <br/><br/> Cta. Beneficiario: {{PAGOS10_CTABENEFICIARIO}}</td>
							</tr>
							<tr >
								<td>Forma de pago: {{PAGOS10_FORMAPAGO}}</td>
							</tr>
							<tr >
								<td>Moneda: {{PAGOS10_MONEDAP}}</td>
							</tr>
							<tr >
								<td>Tipo de cambio: {{PAGOS10_TIPODECAMBIOP}}</td>
							</tr>
							<tr >
								<td>Monto: {{PAGOS10_MONTOP}}</td>
							</tr>
							<tr >
								<td>Número de Operación: {{PAGOS10_NUMOPERACIONP}}</td>
							</tr>
						</tbody>
					</table>
					<div id="bloque-pagos10documentos">
						<table class="lista-pagos">
							<thead>
								<tr>
									<th>IdDocumento</th>
									<th>Serie</th>
									<th>Folio</th>
									<th>Moneda</th>
									<th>Tipo de<br/> Cambio</th>
									<th>Método <br/>de Pago</th>
									<th>Parcialidad</th>
									<th>Saldo <br/>Ant.</th>
									<th>Pagado</th>
									<th>Saldo <br/>Insoluto</th>
								</tr>
							</thead>
							<tbody>
                                <tr id="pagos10_cfdirelacionado">
                                    <td style="text-align:center;">{{PAGOS10_IDDOCUMENTO}}</td>
                                    <td style="text-align:center;">{{PAGOS10_SERIE}}</td>
                                    <td style="text-align:center;">{{PAGOS10_FOLIO}}</td>
                                    <td style="text-align:center;">{{PAGOS10_MONEDA}}</td>
                                    <td style="text-align:center;">{{PAGOS10_TIPODECAMBIOPP}}</td>
                                    <td style="text-align:center;">{{PAGOS10_METODODEPAGO}}</td>
                                    <td style="text-align:center;">{{PAGOS10_PARCIALIDAD}}</td>
                                    <td style="text-align:right;">{{PAGOS10_SALDOANTERIOR}}</td>
                                    <td style="text-align:right;">{{PAGOS10_PAGADO}}</td>
                                    <td style="text-align:right;">{{PAGOS10_SALDOINSOLUTO}}</td>
                                </tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<p>
				<strong style="color:#000">Sello CFD</strong><br /><br >
				{{TIMBRE_SELLOCFD}}<br /><br >
				<strong style="color:#000">Sello SAT</strong><br /><br >
				{{TIMBRE_SELLOSAT}}<br /><br >
			</p>			
			<div class="col-2">
				<td id="timbre-qr">{{TIMBRE_QRCODE}}</td>
			</div>
			<div class="col-10">
				<p >
					<strong style="color:#000">Cadena Original del Complemento de Certificación Digital:</strong><br /><br >
					{{COMPROBANTE_CADENAORIGINALTFD}}<br /><br />
					<strong style="color:#000">Folio fiscal: </strong>{{TIMBRE_UUID}}<br /> <br />
					<strong style="color:#000">No. de serie del certificado SAT:</strong>{{TIMBRE_CERTISAT}}<br /> <br />
					<strong style="color:#000">Fecha y hora de certificación: </strong> {{TIMBRE_FECHA}}<br /> <br />
					<strong style="color:#000">RFC del proveedor de certificación: </strong>{{TIMBRE_PROVEEDOR}} <br /> <br />
				</p>
			</div>
		</div>

		<p style="text-align:center; font-weight: bold; margin: 0;">Este documento es una representación impresa de un CFDI</p>

	</div>
</body>
</html>
