﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es-MX">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PDF</title>
    <style type="text/css" media="screen,print">
        .col-12 {
            width: 100%
        }

        .col-11 {
            width: 91.66667%
        }

        .col-10 {
            width: 83.33333%
        }

        .col-9 {
            width: 75%
        }

        .col-8 {
            width: 66.66667%
        }

        .col-7 {
            width: 58.33333%
        }

        .col-6 {
            width: 50%
        }

        .col-5 {
            width: 41.66667%
        }

        .col-4 {
            width: 33.33333%
        }

        .col-3 {
            width: 25%
        }

        .col-2 {
            width: 16.66667%
        }

        .col-1 {
            width: 8.33333%
        }

        .col-12,
        .col-11,
        .col-10,
        .col-9,
        .col-8,
        .col-7,
        .col-6,
        .col-5,
        .col-4,
        .col-3,
        .col-2,
        .col-1 {
            float: left;
            padding: 0 5px;
        }

        .font-weight-bold {
            font-weight: bold;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: right;
        }

        .text-right {
            text-align: right;
        }

        .text-justify {
            text-align: justify;
        }

        div.row::before,
        div.row::after {
            content: "";
            font: 0/0 a;
            display: table
        }

        div.row::after {
            clear: both
        }

        div.row {
            position: relative;
            display: block;
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            font-family: Arial, Helvetica, Tahoma;
            font-size: 8px;
        }

        table,
        p {
            word-break: break-all;
            width: 100%;
        }

        table {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        th,
        td {
            padding: 2px;
        }

        h1 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            line-height: 1.1;
            font-size: 12pt;
            color: #000;
        }

        strong {
            color: #FF0000;
        }

        #page {
            padding: 20px;
        }

        #timbre-qr {
            float: left;
            margin-right: 20px;
        }

        .empresa-logo {
            width:138px;
			height:99px;
			text-align: center;
			vertical-align: center;
        }

        .empresa-logo img {
            width: auto;
            height: auto;
            max-width: 120px;
            max-height: 120px;
        }

        .empresa-datos {
            border-left: 1px solid #eee;
            padding-left: 20px;
        }

        /*La clase .new-page se utiliza para generar una nueva página*/
        .new-page {
            page-break-before: always;
        }

        .nodo {
            background-color: #000;
            color: #FFF;
            font-weight: bold;
            padding: 2px;
        }

        .custom-table {
            border: 2px solid #DDDDDD;
            -webkit-border-radius: 6px;
        }

        .custom-table thead tr,
        tbody.custom-tbody tr td:first-child {
            background: #DDDDDD;
        }

    </style>
</head>

<body>
    <div id="page">
        <table class="empresa">
            <tr>
                <td class="empresa-logo">
                    {{COMPROBANTE_LOGO}}
                </td>
                <td class="empresa-datos">
                    <h1>{{EMISOR_RAZONSOCIAL}}</h1>
                    <p>
                        <span>R.F.C. {{EMISOR_RFC}}</span>
                    </p>
                    <p>
                        <span>Régimen: {{EMISOR_REGIMEN}}</span>
                    </p>
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-6">
                <strong>Emisor</strong>
                <table class="custom-table">
                    <tbody class="custom-tbody">
                        <tr>
                            <td style="width: 30%;">RFC</td>
                            <td>{{EMISOR_RFC}}</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Razón Social</td>
                            <td>{{EMISOR_RAZONSOCIAL}}</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Régimen</td>
                            <td>{{EMISOR_REGIMEN}}</td>
                        </tr>
                    </tbody>
                </table>
                <strong>Receptor</strong>
                <table class="custom-table">
                    <tbody class="custom-tbody">
                        <tr>
                            <td style="width: 30%;">RFC</td>
                            <td>{{RECEPTOR_RFC}}</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Razón Social</td>
                            <td>{{RECEPTOR_RAZONSOCIAL}}</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Uso de CFDI</td>
                            <td>{{RECEPTOR_USO_CFDI}}</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Régimen:</td>
                            <td>{{RECEPTOR_REGIMENFISCAL}}</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;">Código postal:</td>
                            <td>{{RECEPTOR_DOMICILIOFISCAL}}</td>
                        </tr>
                        <tr id="confirmacion">
                            <td style="width: 30%;">Confirmación</td>
                            <td>{{COMPROBANTE_CONFIRMACION}}</td>
                        </tr>
                        <tr id="tiporelacion">
                            <td style="width: 30%;">Tipo de Relación</td>
                            <td>{{CFDIRELACIONADOS_TIPORELACION}}</td>
                        </tr>
                        <tr id="cfdirelacionado">
                            <td style="width: 30%;">CFDI Relacionado</td>
                            <td>{{CFDIRELACIONADOS_UIDSLIST}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <strong>Comprobante</strong>
                <table class="custom-table">
                    <tbody class="custom-tbody">
                    <tr>
                        <td style="width: 45%;">Folio fiscal</td>
                        <td>{{TIMBRE_UUID}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%;">Efecto de comprobante</td>
                        <td>{{COMPROBANTE_TIPODECOMPROBANTE}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%;">Folio y serie</td>
                        <td><strong>{{COMPROBANTE_SERIE}} - {{COMPROBANTE_FOLIO}}</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 45%;">Fecha de expedición</td>
                        <td>{{COMPROBANTE_FECHA}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%;">Lugar de expedición</td>
                        <td>{{COMPROBANTE_LUGAREXPEDICION}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%;">No. serie CSD</td>
                        <td>{{COMPROBANTE_NUMERODECERTIFICADO}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%;">Moneda</td>
                        <td>{{COMPROBANTE_MONEDA}}</td>
                    </tr>
                    <tr id="tipocambio">
                        <td style="width: 45%;">Tipo de Cambio</td>
                        <td>{{COMPROBANTE_TIPODECAMBIO}}</td>
                    </tr>
                    <tr id="formapago">
                        <td style="width: 45%;">Forma de pago</td>
                        <td>{{COMPROBANTE_FORMADEPAGO}}</td>
                    </tr>
                    <tr id="metodopago">
                        <td style="width: 45%;">Método de pago</td>
                        <td>{{COMPROBANTE_METODOPAGO}}</td>
                    </tr>
                    <tr id="exportacion">
                        <td style="width: 45%;">Exportación</td>
                        <td>{{COMPROBANTE_EXPORTACION}}</td>
                    </tr>
                    <tr id="condiciones">
                        <td style="width: 45%;">Condiciones</td>
                        <td>{{COMPROBANTE_CONDICIONES}}</td>
                    </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div id="bloque-global">
                <div class="col-12">
                    <strong>Información global</strong>
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th style="width: 33.33%;">Periodicidad</th>
                                <th style="width: 33.33%;">Meses</th>
                                <th style="width: 33.33%;">Año</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;">{{GLOBAL_PERIODICIDAD}}</td>
                                <td style="text-align:center;">{{GLOBAL_MESES}}</td>
                                <td style="text-align:center;">{{GLOBAL_ANIO}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="separator">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <strong>Conceptos</strong>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th style="width: 50px;">Cantidad</th>
                            <th style="width: 50px;">Unidad</th>
                            <th style="width: 60px;">Clave<br>Unidad</th>
                            <th style="width: 60px;">Clave<br>Prod.</th>
                            <th style="width: 50px;">Objeto<br>Imp.</th>
                            <th>Descripción</th>
                            <th style="width: 60px;">Valor<br>Unitario</th>
                            <th style="width: 60px;">Descuento</th>
                            <th style="width: 60px;">Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="conceptos">
                            <td style="text-align:center;">{{CONCEPTO_CANTIDAD}}</td>
                            <td style="text-align:center;">{{CONCEPTO_UNIDAD}}</td>
                            <td style="text-align:center;">{{CONCEPTO_CLVUNIDAD}}</td>
                            <td style="text-align:center;">{{CONCEPTO_CLVPRODSRV}}</td>
                            <td style="text-align:center;">{{CONCEPTO_OBJETOIMPUESTO}}</td>
                            <td>{{CONCEPTO_DESCRIPCION}}</td>
                            <td style="text-align:right;">${{CONCEPTO_VALORUNITARIO}}</td>
                            <td style="text-align:right;">{{CONCEPTO_DESCUENTO}}</td>
                            <td style="text-align:right;">${{CONCEPTO_IMPORTE}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="font-weight:bold;text-align:center;background-color:#DDDDDD;" colspan="7">Total con letra</td>
                            <td style="text-align:right;font-weight:bold;">Subtotal</td>
                            <td style="text-align:right;">${{COMPROBANTE_SUBTOTAL}}</td>
                        </tr>
                        <tr id="bloque-descuento" style="text-align:right;">
                            <td style="text-align:center;" rowspan="2" colspan="7">
                                <p>&nbsp; <span style="text-transform: uppercase;">( {{COMPROBANTE_CANTIDADCONLETRA}} )</span></p>
                            </td>
                            <td style="font-weight:bold;">Descuento</td>
                            <td style="">${{COMPROBANTE_DESCUENTO}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;font-weight:bold;">IVA T.</td>
                            <td style="text-align:right;">${{COMPROBANTE_IVATRASLADO}}</td>
                        </tr>
                        <tr id="bloque-iepst" style="text-align:right;">
                            <td colspan="7">&nbsp;</td>
                            <td style="font-weight:bold;">IEPS T.</td>
                            <td style="">${{COMPROBANTE_IEPSTRASLADO}}</td>
                        </tr>
                        <tr id="bloque-ivar" style="text-align:right;">
                            <td colspan="7">&nbsp;</td>
                            <td style="font-weight:bold;">IVA R.</td>
                            <td style="">${{COMPROBANTE_IVARETENIDO}}</td>
                        </tr>
                        <tr id="bloque-ipesr" style="text-align:right;">
                            <td colspan="7">&nbsp;</td>
                            <td style="font-weight:bold;">IEPS R.</td>
                            <td style="">${{COMPROBANTE_IEPSRETENIDO}}</td>
                        </tr>
                        <tr id="bloque-isrr" style="text-align:right;">
                            <td colspan="7">&nbsp;</td>
                            <td style="font-weight:bold;">ISR R.</td>
                            <td style="">${{COMPROBANTE_ISRRETENIDO}}</td>
                        </tr>
                        <tr style="text-align:right;">
                            <td colspan="7">&nbsp;</td>
                            <td style="font-weight:bold;">Total</td>
                            <td style="font-weight:bold;">${{COMPROBANTE_TOTAL}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="bloque-pagos10">
                    <strong>Complemento de pagos</strong>
                    <table class="complemento-pagos">
                        <tbody>
                            <tr>
                                <td>Fecha de pago: {{PAGOS10_FECHA}}</td>
                                <td rowspan="6">RFC Emisor Cta. Ordenante: <br />{{PAGOS10_EMISORCTAORDENANTE}} <br /><br /> Cta. Ordenante: {{PAGOS10_CTAORDENANTE}}</td>
                                <td rowspan="6">RFC Emisor Cta. Beneficiario: <br /> {{PAGOS10_EMISORBENEFICIARIO}} <br /><br /> Cta. Beneficiario: {{PAGOS10_CTABENEFICIARIO}}</td>
                            </tr>
                            <tr>
                                <td>Forma de pago: {{PAGOS10_FORMAPAGO}}</td>
                            </tr>
                            <tr>
                                <td>Moneda: {{PAGOS10_MONEDAP}}</td>
                            </tr>
                            <tr>
                                <td>Tipo de cambio: {{PAGOS10_TIPODECAMBIOP}}</td>
                            </tr>
                            <tr>
                                <td>Monto: {{PAGOS10_MONTOP}}</td>
                            </tr>
                            <tr>
                                <td>Número de Operación: {{PAGOS10_NUMOPERACIONP}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="bloque-pagos10documentos">
                        <table class="lista-pagos">
                            <thead>
                                <tr>
                                    <th>IdDocumento</th>
                                    <th>Serie</th>
                                    <th>Folio</th>
                                    <th>Moneda</th>
                                    <th>Tipo de<br /> Cambio</th>
                                    <th>Método <br />de Pago</th>
                                    <th>Objeto <br />de Imp.</th>
                                    <th>Parcialidad</th>
                                    <th>Saldo <br />Ant.</th>
                                    <th>Pagado</th>
                                    <th>Saldo <br />Insoluto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="pagos10_cfdirelacionado">
                                    <td style="text-align:center;">{{PAGOS10_IDDOCUMENTO}}</td>
                                    <td style="text-align:center;">{{PAGOS10_SERIE}}</td>
                                    <td style="text-align:center;">{{PAGOS10_FOLIO}}</td>
                                    <td style="text-align:center;">{{PAGOS10_MONEDA}}</td>
                                    <td style="text-align:center;">{{PAGOS10_TIPODECAMBIOPP}}</td>
                                    <td style="text-align:center;">{{PAGOS10_METODODEPAGO}}</td>
                                    <td style="text-align:center;">{{PAGOS10_OBJETOIMPUESTO}}</td>
                                    <td style="text-align:center;">{{PAGOS10_PARCIALIDAD}}</td>
                                    <td style="text-align:right;">{{PAGOS10_SALDOANTERIOR}}</td>
                                    <td style="text-align:right;">{{PAGOS10_PAGADO}}</td>
                                    <td style="text-align:right;">{{PAGOS10_SALDOINSOLUTO}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p>
                <strong style="color:#000">Sello CFD</strong><br /><br>
                {{TIMBRE_SELLOCFD}}<br /><br>
                <strong style="color:#000">Sello SAT</strong><br /><br>
                {{TIMBRE_SELLOSAT}}<br /><br>
            </p>
            <div class="col-2">
                <td id="timbre-qr">{{TIMBRE_QRCODE}}</td>
            </div>
            <div class="col-10">
                <p>
                    <strong style="color:#000">Cadena Original del Complemento de Certificación Digital:</strong><br /><br>
                    {{COMPROBANTE_CADENAORIGINALTFD}}<br /><br />
                    <strong style="color:#000">Folio fiscal: </strong>{{TIMBRE_UUID}}<br /> <br />
                    <strong style="color:#000">No. de serie del certificado SAT:</strong>{{TIMBRE_CERTISAT}}<br /> <br />
                    <strong style="color:#000">Fecha y hora de certificación: </strong> {{TIMBRE_FECHA}}<br /> <br />
                    <strong style="color:#000">RFC del proveedor de certificación: </strong>{{TIMBRE_PROVEEDOR}} <br /> <br />
                </p>
            </div>
        </div>
        <p style="text-align:center; font-weight: bold; margin: 0;">Este documento es una representación impresa de un CFDI</p>
        <div id="bloque-carta">
            <div class="new-page"></div>
            <table class="empresa">
                <tr>
                    <td class="empresa-logo">
                        {{COMPROBANTE_LOGO}}
                    </td>
                    <td class="empresa-datos">
                        <h1>{{EMISOR_RAZONSOCIAL}}</h1>
                        <p>
                            <span>R.F.C. {{EMISOR_RFC}}</span>
                        </p>
                        <p>
                            <span>Régimen: {{EMISOR_REGIMEN}}</span>
                        </p>
                    </td>
                </tr>
            </table>
            <div class="separator">&nbsp;</div>
            <div id="bloque-cartaporte20">{{CARTAPORTE20}}</div>
            <p style="font-weight:bold;text-align:right;">Complemento Carta Porte</p>
            <div class="separator">&nbsp;</div>
            <div class="row">
                <p class="nodo">Ubicaciones</p>
                <div id="bloque-ubicacion" class="col-6">
                    <strong>Ubicacion No. {{partidas}}</strong>
                    <table class="ubicacion">
                        <tbody>
                            <tr>
                                <td style="width:50%;font-weight:bold;">Tipo de ubicación</td>
                                <td style="width:50%;">{{CARTAP_TIPOUBICACION}}</td>
                            </tr>
                            <tr>
                                <td style="width:50%;font-weight:bold;">ID Ubicación</td>
                                <td style="width:50%;">{{CARTAP_IDUBICACION}}</td>
                            </tr>
                            <tr>
                                <td style="width:50%;font-weight:bold;">RFC</td>
                                <td style="width:50%;">{{CARTAP_RFCREMITENTEDESTINATARIO}}</td>
                            </tr>
                            <tr>
                                <td style="width:50%;font-weight:bold;">Razon social</td>
                                <td style="width:50%;">{{CARTAP_NOMBREREMITENTEDESTINATARIO}}</td>
                            </tr>
                            <tr>
                                <td style="width:50%;font-weight:bold;">Fecha y hora de salida ó llegada</td>
                                <td style="width:50%;">{{CARTAP_FECHAHORASALIDALLEGADA}}</td>
                            </tr>
                            <tr>
                                <td style="width:50%;font-weight:bold;">Distancia recorrida</td>
                                <td style="width:50%;">{{CARTAP_DISTANCIA}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:justify;" colspan="2">{{CARTAP_UBICACIONDOMICILIO}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="separator">&nbsp;</div>
            <div class="row">
                <p class="nodo">Figura de transporte</p>
                <div id="bloque-figura" class="col-12">
                    <strong>Figura de transporte No. {{CARTAP_PARTIDAS}}</strong>
                    <table class="figura">
                        <tbody>
                            <tr>
                                <td style="width:25%;"><span style="font-weight:bold;">Tipo de figura:</span>{{CARTAP_TIPOFIGURA}}</td>
                                <td style="width:25%;"><span style="font-weight:bold;">RFC:</span>{{CARTAP_RFCFIGURA}}</td>
                                <td style="width:25%;"><span style="font-weight:bold;">Razón social:</span> {{CARTAP_NOMBREFIGURA}}</td>
                                <td style="width:25%;"><span style="font-weight:bold;">No. Licencia:</span> {{CARTAP_NUMLICENCIA}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{CARTAP_DOMICILIO}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr id="bloque-parte-transporte">
                                <td colspan="4"><span style="font-weight:bold;">Partes de transporte | Parte de transporte:</span> {{CARTAP__ParteTransporte}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="separator">&nbsp;</div>
            <div class="row" id="bloque-mercancias">
                <p class="nodo">Mercancias</p>
                <div class="col-12">
                    <table class="mercancia">
                        <tbody>
                            <tr>
                                <td><span style="font-weight:bold;">Peso bruto total:</span> {{CARTAP_PESOBRUTOTOTAL}} kg´s</td>
                                <td><span style="font-weight:bold;">Unidad de peso:</span> {{CARTAP_UNIDADPESO}}</td>
                                <td><span style="font-weight:bold;">Peso neto total:</span> {{CARTAP_PESONETOTOTAL}}</td>
                                <td><span style="font-weight:bold;">No. total de mercancias:</span> {{CARTAP_NUMTOTALMERCANCIAS}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <strong>Mercacnia No. '.$partidas.'</strong>
                    <table class="custom-table mercancia">
                        <thead>
                            <tr>
                                <th style="width: 50px;">Cantidad</th>
                                <th style="width: 50px;">Unidad</th>
                                <th style="width: 50px;">Clave<br>Unidad</th>
                                <th style="width: 50px;">Clave<br>Prod.</th>
                                <th>Descripción</th>
                                <th style="width: 60px;">Peso</th>
                                <th style="width: 70px;">Valor<br>Mercancía</th>
                                <th style="width: 100px;">Moneda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="bloque-mercancia">
                                <td style="text-align: center;">{{CARTAP_CANTIDAD}}</td>
                                <td style="text-align: center;">{{CARTAP_UNIDAD}}</td>
                                <td style="text-align: center;">{{CARTAP_CLAVEUNIDAD}}</td>
                                <td style="text-align: center;">{{CARTAP_BIENESTRANSP}}</td>
                                <td>{{CARTAP_DESCRIPCION}}</td>
                                <td style="text-align: center;">{{CARTAP_PESOENKG}} kg´s</td>
                                <td style="text-align: center;">{{CARTAP_VALORMERCANCIA}}</td>
                                <td style="text-align: center;">{{CARTAP_MONEDA}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="autotransporte" id="bloque-autotransporte">
                        <tbody>
                            <tr>
                                <td style="width:50%;"><span style="font-weight:bold;">Autotransporte | Permiso SCT:</span> {{CARTAP_PERMSCT}}</td>
                                <td style="width:50%;"><span style="font-weight:bold;">No. de permiso SCT:</span> {{CARTAP_NUMPERMISOSCT}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="identificacion" id="bloque-identificacion">
                        <tbody>
                            <tr>
                                <td style="width:50%;"><span style="font-weight:bold;">Identificación vehícular | Config. vehicular:</span> {{CARTAP_CONFIGVEHICULAR}}</td>
                                <td style="width:25%;"><span style="font-weight:bold;">Placa vehicular:</span> {{CARTAP_PLACAVM}}</td>
                                <td style="width:25%;"><span style="font-weight:bold;">Año del vehiculo:</span> {{CARTAP_ANIOMODELOVM}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="seguros" id="bloque-seguros">
                        <tr>
                            <td style="width:50%;"><span style="font-weight:bold;">Seguros | Nombre de la aseguradora:</span> {{CARTAP_ASEGURARESPCIVIL}}</td>
                            <td style="width:50%;"><span style="font-weight:bold;">Póliza de seguro:</span> {{CARTAP_POLIZARESPCIVIL}}</td>
                        </tr>
                    </table>
                    <table class="remolques" id="bloque-remolques">
                        <tr>
                            <td style="width:50%;"><span style="font-weight:bold;">Remolques | Subtipo de remolque:</span> {{CARTAP_SUBTIPOREM}}</td>
                            <td style="width:50%;"><span style="font-weight:bold;">Placa:</span> {{CARTAP_PLACA}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
