﻿<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="nofollow" />
		<title>TEMPLATE</title>
		<style>
			.col-12{width:100%}
			.col-11{width:91.66667%}
			.col-10{width:83.33333%}
			.col-9{width:75%}
			.col-8{width:66.66667%}
			.col-7{width:58.33333%}
			.col-6{width:50%}
			.col-5{width:41.66667%}
			.col-4{width:33.33333%}
			.col-3{width:25%}
			.col-2{width:16.66667%}
			.col-1{width:8.33333%}
			.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{float:left;padding:0 5px;}

			div.row::before, div.row::after {content:"";font:0/0 a;display:table}
			div.row::after {clear:both}
			div.row {position:relative;display:block;}

			* {
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				font-family:Arial, Helvetica, Tahoma;
				font-size:8px;
				color:#333;
			}
			table, p {
				word-break: break-all;
				width:100%;
			}
			table {
				margin-top:5px;
			}
			h1 {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-weight: 500;
				line-height: 1.1;
				font-size:15pt;
				color:#005599;
			}
			strong {
				color:#f00;
			}
			.rounded {
				border:2px solid #ccc;
				-webkit-border-radius: 6px;
			}
			.right {
				text-align: right;
				padding-right: 10px;
			}
			#page {
				padding: 20px;
			}
			#empresa-logo {
				width:240px;
				padding:10px;
				text-align: center;
				vertical-align: center;
			}
			#empresa-logo img {
				width:auto;
				height:auto;
				max-width:240px;
				max-height:240px;
			}
			#empresa-datos {
				border-left:1px solid #eee;
				padding-left:20px;
			}
			#empresa-serieyfolio {
				width:100px;
				vertical-align:bottom;
			}
			#timbre-qr {
				float:left;
				margin-right:20px;
			}
			td {
				color:#008080;
			}
			tr.even td {
				background-color: #ddd;
			}
		</style>
	</head>
	<body>
		<div id="page">

			<!-- TABLA DE LOGO E INFORMACIÓN DEL EMISOR -->
			<table id="empresa">
				<tr>
					<td id="empresa-logo">
						{{COMPROBANTE_LOGO}}
					</td>
					<td id="empresa-datos">
						<h1>{{EMISOR_RAZONSOCIAL}}</h1>
						<p>
							<span>R.F.C. {{EMISOR_RFC}}</span>
							<span> / REG. PATRONAL: {{NOMINA_EMISOR_REGISTROPATRONAL}}</span>
						</p>
						<p>
							<span>Régimen {{EMISOR_REGIMEN}}</span>
						</p>
						<p>
							<span>RECIBO DE PAGO DE NÓMINA</span>
						</p>
					</td>
				</tr>
			</table>

			<div class="separator">&nbsp;</div>

			<div class="row">  
				<div class="col-6">
					<table class="rounded">
						<tbody>
							<tr><td>Folio Fiscal</td><td>{{TIMBRE_UUID}}</td></tr>
							<tr><td>Fecha de Expedición</td><td>{{COMPROBANTE_FECHA}}</td></tr>
							<tr><td>Moneda</td><td>{{COMPROBANTE_MONEDA}}</td></tr>
							<tr><td>Lugar de expedición</td><td>{{COMPROBANTE_LUGAREXPEDICION}}</td></tr>
							<tr><td>Efecto del Comprobante</td><td>{{COMPROBANTE_TIPODECOMPROBANTE}}</td></tr>
							<tr><td>Confirmación</td><td>{{COMPROBANTE_CONFIRMACION}}</td></tr>
							<tr><td>Uso de CFDI:</td><td>{{RECEPTOR_USO_CFDI}}</td></tr>
							<tr><td>Tipo de Relación:</td><td>{{CFDIRELACIONADOS_TIPORELACION}}</td></tr>
							<tr><td>CFDI Relacionado:</td><td>{{CFDIRELACIONADOS_UIDSLIST}}</td></tr>
						</tbody>
					</table>
				</div>
				<div class="col-6">
					<table class="rounded">  
						<thead>
							<tr>
								<th>Cantidad</th>
								<th>Clave <br> Unidad</th>
								<th>Clave <br> Prod.</th>
								<th>Descripción</th>
								<th>V. Unitario</th>
								<th>Importe</th>
							</tr>
						</thead>
						<tbody>
							<tr id="conceptos">
								<td style="text-align:center;">{{CONCEPTO_CANTIDAD}}</td>
								<td style="text-align:center;">{{CONCEPTO_CLVUNIDAD}}</td>
								<td style="text-align:center;">{{CONCEPTO_CLVPRODSRV}}</td>
								<td>{{CONCEPTO_DESCRIPCION}}</td>
								<td style="text-align:right;">{{CONCEPTO_VALORUNITARIO}}</td>
								<td style="text-align:right;">{{CONCEPTO_IMPORTE}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td style="text-align:right;" colspan="5">Subtotal</td>
								<td style="text-align:right;">{{COMPROBANTE_SUBTOTAL}}</td>
							</tr>
							<tr>
								<td style="text-align:right;" colspan="5">Descuento</td>
								<td style="text-align:right;">{{COMPROBANTE_DESCUENTO}}</td>
							</tr>
							<tr>
								<td style="text-align:right;" colspan="5">TOTAL</td>
								<td style="text-align:right;">{{COMPROBANTE_TOTAL}}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<div class="separator">&nbsp;</div>

			<div class="row">  
				<div class="col-6">
					<strong>Datos del Empleado</strong>
					<table class="rounded">
						<tbody>
							<tr><td class="right">No. de empleado</td><td>{{NOMINA_RECEPTOR_NUMEMPLEADO}}</td></tr>
							<tr><td class="right">Nombre</td><td>{{RECEPTOR_RAZONSOCIAL}}</td></tr>
							<tr><td class="right">RFC</td><td>{{RECEPTOR_RFC}}</td></tr>
							<tr><td class="right">CURP</td><td>{{NOMINA_RECEPTOR_CURP}}</td></tr>
							<tr><td class="right">No. de Seguro Social</td><td>{{NOMINA_RECEPTOR_NUMSEGURIDADSOCIAL}}</td></tr>
							<tr><td class="right">Departamento</td><td>{{NOMINA_RECEPTOR_DEPARTAMENTO}}</td></tr>
							<tr><td class="right">Puesto</td><td>{{NOMINA_RECEPTOR_PUESTO}}</td></tr>
							<tr><td class="right">Régimen</td><td>{{NOMINA_RECEPTOR_TIPOREGIMEN}}</td></tr>
							<tr><td class="right">Clave de Entidad Federativa</td><td>{{NOMINA_RECEPTOR_CLAVEENTFED}}</td></tr>
						</tbody>
					</table>
				</div>
				<div class="col-6">
					<strong>Datos del Pago</strong>
					<table class="rounded">
						<tbody>
							<tr><td class="right">Tipo de Jornada</td><td>{{NOMINA_RECEPTOR_TIPOJORNADA}}</td></tr>
							<tr><td class="right">Días Pagados</td><td>{{NOMINA_NUMDIASPAGADOS}}</td></tr>
							<tr><td class="right">Forma de Pago</td><td>{{COMPROBANTE_FORMADEPAGO}}</td></tr>
							
							<tr><td class="right">Fecha de Pago</td><td>{{NOMINA_FECHAPAGO}}</td></tr>
							<tr><td class="right">Período de Pago del</td><td>{{NOMINA_FECHAINICIALPAGO}} al {{NOMINA_FECHAFINALPAGO}}</td></tr>
							
						</tbody>
					</table>
				</div>
			</div>

			<div class="separator">&nbsp;</div>

			<div class="row">
				<div class="col-6">
					<strong>Percepciones</strong>
					<table class="rounded">
						<thead>
							<tr>
								<th>Tipo</th>
								<th>Clave</th>
								<th>Concepto</th>
								<th>Gravado</th>
								<th>Exento</th>
							</tr>
						</thead>
						<tbody>
							<tr id="percepciones">
								<td style="text-align:center;">{{NOMINA_PERCEPCION_TIPOPERCEPCION}}</td>
								<td style="text-align:center;">{{NOMINA_PERCEPCION_CLAVE}}</td>
								<td >{{NOMINA_PERCEPCION_CONCEPTO}}</td>
								<td style="text-align:right;">{{NOMINA_PERCEPCION_IMPORTEGRAVADO}}</td>
								<td style="text-align:right;">{{NOMINA_PERCEPCION_IMPORTEEXENTO}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td style="text-align:right;" colspan="3">TOTALES</td>
								<td style="text-align:right;">{{NOMINA_PERCEPCIONES_TOTALGRAVADO}}</td>
								<td style="text-align:right;">{{NOMINA_PERCEPCIONES_TOTALEXENTO}}</td>
							</tr>
						</tfoot>
					</table>	
				</div>
				<div class="col-6">
					<strong>Deducciones</strong>
					<table class="rounded">  
						<thead>
							<tr>
								<th>Tipo</th>
								<th>Clave</th>
								<th>Concepto</th>
								<th>Importe</th>
							</tr>
						</thead>
						<tbody>
							<tr id="deducciones">
								<td>{{NOMINA_DEDUCCION_TIPODEDUCCION}}</td>
								<td>{{NOMINA_DEDUCCION_CLAVE}}</td>
								<td>{{NOMINA_DEDUCCION_CONCEPTO}}</td>
								<td style="text-align:right;">{{NOMINA_DEDUCCION_IMPORTE}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td style="text-align:right;" colspan="3">TOTALES</td>
								<td style="text-align:right;">{{NOMINA_TOTALDEDUCCIONES}}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

			<!-- Detalles de percepciones y deducciones (elementos o nodos adicionales) -->
			<div class="row">
				<div class="col-12">
					<div id="bloque-horasextra">
						<strong>Horas Extra</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Días</th>
									<th>Horas Extra</th>
									<th>Tipo de hora</th>
									<th>Importe</th>
								</tr>
							</thead>
							<tbody>
								<tr id="horasextra">
									<td>{{NOMINA_HORASEXTRA_DIAS}}</td>
									<td>{{NOMINA_HORASEXTRA_HORASEXTRA}}</td>
									<td>{{NOMINA_HORASEXTRA_TIPOHORAS}}</td>
									<td style="text-align:right;">{{NOMINA_HORASEXTRA_IMPORTEPAGADO}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-12">
					<div id="bloque-incapacidades">
						<strong>Incapacidades</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Días de incapacidad</th>
									<th>Tipo de incapacidad</th>
									<th>Importe monetario</th>
								</tr>
							</thead>
							<tbody>
								<tr id="incapacidades">
									<td style="text-align:center;">{{NOMINA_INCAPACIDAD_DIASINCAPACIDAD}}</td>
									<td style="text-align:center;">{{NOMINA_INCAPACIDAD_TIPOINCAPACIDAD}}</td>
									<td style="text-align:right;">{{NOMINA_INCAPACIDAD_IMPORTEMONETARIO}}</td>
								</tr>
							</tbody>
						</table>	
					</div>
				</div>
				<div class="col-12">
					<div id="bloque-jubilacion">
						<strong>Jubilación, Pensión y Retiro</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Total Una Exhibición</th>
									<th>Total Parcialidad</th>
									<th>Monto Diario</th>
									<th>Ingreso Acumulable</th>
									<th>Ingreso No Acumulable</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{NOMINA_JUBIPENRET_TOTALUNAEXHIBICION}}</td>
									<td>{{NOMINA_JUBIPENRET_TOTALPARCIALIDAD}}</td>
									<td>{{NOMINA_JUBIPENRET_MONTODIARIO}}</td>
									<td style="text-align:right;">{{NOMINA_JUBIPENRET_INGRESOACUMULABLE}}</td>
									<td style="text-align:right;">{{NOMINA_JUBIPENRET_INGRESONOACUMULABLE}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-12">
					<div id="bloque-separacion">
						<strong>Separación / Indemnización</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Total Pagado</th>
									<th>Años de Servicio</th>
									<th>U. Sueldo Mensual Ordinario</th>
									<th>Ingreso Acumulable</th>
									<th>Ingreso No Acumulable</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="text-align:center;">{{NOMINA_SEPAINDEM_TOTALPAGADO}}</td>
									<td style="text-align:center;">{{NOMINA_SEPAINDEM_NUMANOSSERVICIO}}</td>
									<td style="text-align:center;">{{NOMINA_SEPAINDEM_ULTIMOSUELDOMENSORD}}</td>
									<td style="text-align:center;">{{NOMINA_SEPAINDEM_INGRESOACUMULABLE}}</td>
									<td style="text-align:center;">{{NOMINA_SEPAINDEM_INGRESONOACUMULABLE}}</td>
								</tr>
							</tbody>
						</table>	
					</div>
				</div>
				<div class="col-12">
					<div id="bloque-otrospagos">
						<strong>Otros Pagos</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Tipo</th>
									<th>Clave</th>
									<th>Concepto</th>
									<th>Importe</th>
								</tr>
							</thead>
							<tbody>
								<tr id="otrospagos">
									<td>{{NOMINA_OTROPAGO_TIPOOTROPAGO}}</td>
									<td>{{NOMINA_OTROPAGO_CLAVE}}</td>
									<td>{{NOMINA_OTROPAGO_CONCEPTO}}</td>
									<td style="text-align:right;">{{NOMINA_OTROPAGO_IMPORTE}}</td>
								</tr>
							</tbody>
						</table>	
					</div>
				</div>
				<div class="col-12">
					<div id="bloque-compensaciones">
						<strong>Compensaciones / Saldo a Favor</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Saldo a favor</th>
									<th>Año</th>
									<th>Remanente del Saldo a Favor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{NOMINA_COMPENSALDO_SALDOAFAVOR}}</td>
									<td>{{NOMINA_COMPENSALDO_ANO}}</td>
									<td style="text-align:right;">{{NOMINA_COMPENSALDO_REMANENTESALFAV}}</td>
								</tr>
							</tbody>
						</table>	
					</div>
				</div>
				<div class="col-12">
					<div id="bloque-subsidio">
						<strong>Subsidio</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Subsidio Causado</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="text-align:right;">{{NOMINA_SUBSIDIO_SUBSIDIOCAUSADO}}</td>
								</tr>
							</tbody>
						</table>	
					</div>
				</div>
				<div class="col-12">
					<div id="bloque-acciones">
						<strong>Acciones / Titulos</strong>
						<table class="rounded">
							<thead>
								<tr>
									<th>Valor en el mercado</th>
									<th>Precio al Otorgarse</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{NOMINA_ACCITITU_VALORMERCADO}}</td>
									<td style="text-align:right;">{{NOMINA_ACCITITU_PRECIOALOTORGARSE}}</td>
								</tr>
							</tbody>
						</table>	
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div id="bloque-vales">
						<table class="rounded">
							<tr>
								<td>Vales de Despensa (Pagado a través de transferencia bancaria a monedero electrónico Sodexo)</td>
								<td style="text-align:right;">{{COMPROBANTE_VALESDEDESPENSA}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-9">
					<p >&nbsp; <span class="text" style="text-transform: uppercase; text-align:left; color:#008080;">Total a pagar: {{COMPROBANTE_CANTIDADCONLETRA}}</span></p>
				</div>
				<div class="col-3">

					<p style="text-align:right; color:#008080" >NETO A PAGAR <span class="text" style="display:inline-block;  border: 2px solid #ccc; border-radius: 6px;padding:5px; color:#008080">{{COMPROBANTE_TOTAL}}</span></p>
				</div>
			</div>
		
			<div class="row">			
				<div class="col-3">
					<p class="text-right;">{{TIMBRE_QRCODE}}</p>
				</div>
				<div class="col-9">
					<p >
						No. Certificado: {{COMPROBANTE_NUMERODECERTIFICADO}} | No. Certificado SAT: {{TIMBRE_CERTISAT}} | Fecha de Certificación: {{TIMBRE_FECHA}}<br><br>
						Sello Digital del Emisor<br>
						{{TIMBRE_SELLOCFD}}<br><br>
						Sello Digital SAT<br>
						{{TIMBRE_SELLOSAT}}<br><br>
						Cadena Original del Complemento de Certificación Digital:<br>
						{{COMPROBANTE_CADENAORIGINALTFD}}
					</p>
				</div>
			</div>

			<p class="text-center" style="text-align:center;">Este documento es una representación impresa de un CFDI</p>

		</div>
	</body>
</html>